doctype html
html
  head
    include shared/head
  body.page

    .logo
      .sign.sign-default

    .page-content

      form
        .form-group
          input.form-input(type="text", placeholder="Имя")
          .sex-group
            .sex-group-label Пол:
            .custom-radio
              input.custom-radio-input.custom-radio-input-male(type="radio", name="sex", id="male", checked)
              label.custom-radio-label(for="male") мужской
            .custom-radio
              input.custom-radio-input.custom-radio-input-female(type="radio", name="sex", id="female")
              label.custom-radio-label(for="female") женский

        .form-group
          input.form-input(type="email", placeholder="E-mail")

        .form-group.form-group-type-near.date-select
          label.form-label Дата рождения:
          .date-selects
            .date-select-day
              select#zodiac_day.custom-select(name="")
                option(value="01") 01
                option(value="02") 02
                option(value="03") 03
                option(value="04") 04
                option(value="05") 05
                option(value="06") 06
                option(value="07") 07
                option(value="08") 08
                option(value="09") 09
                option(value="10") 10
                option(value="11") 11
                option(value="12") 12
                option(value="13") 13
                option(value="14") 14
                option(value="15") 15
                option(value="16") 16
                option(value="17") 17
                option(value="18") 18
                option(value="19" selected) 19
                option(value="20") 20
                option(value="21") 21
                option(value="22") 22
                option(value="23") 23
                option(value="24") 24
                option(value="25") 25
                option(value="26") 26
                option(value="27") 27
                option(value="28") 28
                option(value="29") 29
                option(value="30") 30
                option(value="31") 31
            .date-select-month
              select#zodiac_month.custom-select(name="")
                option(value="01") Январь
                option(value="02") Февраль
                option(value="03") Март
                option(value="04") Апрель
                option(value="05") Май
                option(value="06") Июнь
                option(value="07") Июль
                option(value="08") Август
                option(value="09" selected) Сентябрь
                option(value="10") Октябрь
                option(value="11") Ноябрь
                option(value="12") Декабрь
            .date-select-year
              select#zodiac_year.custom-select(name="zodiac-year")
                option(value="1980") 1980
                option(value="1981") 1981
                option(value="1982") 1982

        .form-group.date-select
          label.form-label Время рождения:
          .date-selects
            .date-select-time
              select.custom-select(name="")
                option(value="") 23:00
                option(value="") 23:05
                option(value="") 23:10

            .custom-checkbox
              input.custom-checkbox-input(type="checkbox", id="forget")
              label.custom-checkbox-label(for="forget") не знаю

        .form-group.simple-select
          label.form-label Место рождения:
          select.custom-select(name="")
            option(value="") Страна
            option(value="") Россия
            option(value="") Уганда
          select.custom-select(name="")
            option(value="") Область
            option(value="") Ивановская
            option(value="") Чернобыльская
          select.custom-select(name="")
            option(value="") Город
            option(value="") Урюпинск
            option(value="") Актюбинск

        .form-group.simple-select
          label.form-label Где вы находитесь сейчас:
          select.custom-select(name="")
            option(value="") Страна
            option(value="") Россия
            option(value="") Уганда
          select.custom-select(name="")
            option(value="") Область
            option(value="") Ивановская
            option(value="") Чернобыльская
          select.custom-select(name="")
            option(value="") Город
            option(value="") Урюпинск
            option(value="") Актюбинск

        .form-group
          button.btn(type="submit") Составить

    include shared/footer
