doctype html
html
  head
    include shared/head
  body.page.page-type-list

    include shared/header

    .page-content

      h1.text-header ЛУЧШЕЕ ЗА СЕГОДНЯ

      - var n = 0
      .video-list
        while n < 6
          .video
            .video-image
              img.video-screen(src="http://lorempixel.com/640/480/fashion/")
              .video-length 12:54
              .video-play-button
                span.video-play-button-triangle ►
            .video-info
              a.video-title(href="javascript:void(0);") Маша лижет мороженое
              .video-meta
                .video-views 3,273,345 просмотров
                .video-voices
                  i.icon-thumbsup
                  | 95%
          - n++

      button.button-more Загрузить больше видео

      section.annotation
        h2.annotation-header Твердый альтиметр: предпосылки и развитие
        p.annotation-text Инерция ротора позволяет исключить из рассмотрения лазерный крен. Ротор косвенно даёт большую проекцию на оси, чем математический маятник. Момент стабилен. Последнее векторное равенство известно.
