doctype html
html
  head
    include shared/head
  body.page

    include shared/header

    .page-content

      p.info
        | Доступ к сайту http://Eurohub.com
        br
        | Стоимость 20руб. с учетом НДС в день
        br
        | Ваш номер +79173227635. Нажатием кнопки смотреть вы соглашаетесь с&nbsp;
        a(href="")
          | Условиями предоставления подписки

      h1.text-header Видео дня

      .video
        .video-image
          img.video-screen(src="http://lorempixel.com/640/480/fashion/")
          .video-length 12:54
          .video-play-button
            | Смотреть
            span.video-play-button-triangle &nbsp;►

        .video-info
          .video-title Маша лижет мороженое
          .video-meta
            .video-voices 95%
            .video-views 3,273,345
            .video-date 3 года назад

      h1.text-header ЛУЧШЕЕ ЗА СЕГОДНЯ

      - var n = 0
      .video-list
        while n < 6
          .video
            .video-image
              img.video-screen(src="http://lorempixel.com/640/480/fashion/")
              .video-length 12:54
            .video-info
              .video-title Маша лижет мороженое
              .video-meta
                .video-views 3,273,345 просмотров
                .video-voices 95%
          - n++

      button.button-more Загрузить больше видео

      section.annotation
        h2.annotation-header Твердый альтиметр: предпосылки и развитие
        p.annotation-text Инерция ротора позволяет исключить из рассмотрения лазерный крен. Ротор косвенно даёт большую проекцию на оси, чем математический маятник. Момент стабилен. Последнее векторное равенство известно.

    include shared/footer
