doctype html
html
  head
    include shared/head
  body.page.page-type-list

    include shared/header

    .page-content

      p.info
        | Доступ к сайту http://Eurohub.com
        br
        | Стоимость 20руб. с учетом НДС в день
        br
        | Ваш номер +79173227635. Нажатием кнопки смотреть вы соглашаетесь с&nbsp;
        a(href="")
          | Условиями предоставления подписки

      button.button-more.button-more-pay Подписаться

      section.annotation
        h2.annotation-header Твердый альтиметр: предпосылки и развитие
        p.annotation-text Инерция ротора позволяет исключить из рассмотрения лазерный крен. Ротор косвенно даёт большую проекцию на оси, чем математический маятник. Момент стабилен. Последнее векторное равенство известно.

    include shared/footer

