doctype html
html
  head
    include shared/head
  body.page

    include shared/header

    .page-content

      p.info
        | Доступ к сайту http://Eurohub.com
        br
        | Стоимость 20руб. с учетом НДС в день
        br
        | Ваш номер +79173227635. Нажатием кнопки смотреть вы соглашаетесь с&nbsp;
        a(href="")
          | Условиями предоставления подписки

      .video
        .video-image
          video(poster="http://lorempixel.com/640/480/fashion/" controls="controls" width="100%")
            source(src="http://video.webmfiles.org/big-buck-bunny_trailer.webm")

        .video-info
          .video-title Маша лижет мороженое
          .video-meta
            .video-voices
              i.icon-thumbsup
              | 95%
            .video-views
              i.icon-eye
              | 3,273,345
            .video-date
              i.icon-clock
              | 3 года назад

    include shared/footer
