.footer
  .page-content
    .footer-info
      .footer-info__age 18+
      .footer-info__description
        | Информация для абонентов — <b>8 800 3000600</b>
        br
        | (бесплатно в домашнем регионе)
    .footer-links
      a.footer-link(href="") Правила подписки поставщика услуг
      a.footer-link(href="") Личный кабинет

script(src="https://code.jquery.com/jquery-2.1.4.min.js")
script(src="js/application.js")
