*
  box-sizing border-box

html
  font-size 10px

@media screen and (max-width: 480px)
  html
    font-size 7px

a
  color #fff

.page
  color #fff
  background-color #1e1e1e

.page-type-list
  background-color #141414

.page-content
  max-width 480px
  min-width 320px
  margin 0 auto
  padding 0 12px

.header
  height 46px
  background-color #1e1e1e
  text-align center

.logo
  display block
  padding 8px 0
  text-align center
  font-size 20px
  color #fff
  text-decoration none

.logo-span
  display inline-block
  background-color #ff9901
  padding 2px 4px
  border-radius 2px
  color #000
  margin-left 6px

.info
  font-size 2.2rem
  line-height 2.6rem
  text-align center
  padding 1.3rem 0
  margin 0
  background-color #141414

.text-header
  font-size 2.1rem
  line-height 2.5rem
  text-align center
  padding 1rem 0 2.3rem


.video-image
  margin-bottom 1.1rem
  position relative

.video-screen
  max-width 100%

.video-length
  position absolute
  right 0
  bottom 0
  font-size 2.6rem
  line-height 3.1rem
  padding 0.2rem 1rem
  background-color rgba(0,0,0,0.5)

.video-play-button
  cursor pointer
  position absolute
  left 50%
  top 50%
  font-size 3.6rem
  background-color rgba(0,0,0,0.5)
  padding 1.6rem 2.6rem
  border-radius 1.5rem
  white-space nowrap
  transform translateY(-50%) translateX(-50%)

.video-play-button-triangle
  display inline-block
  vertical-align middle

.video-info
  background-color #000
  padding 1.4rem
  margin-bottom 1.7rem

.video-title
  font-size 2.1rem
  line-height 2.4rem
  font-weight bold
  color #FF9901
  margin-bottom 1.8rem
  overflow hidden
  width 100%
  text-overflow ellipsis

.video-meta
  display flex
  justify-content space-between
  font-size 1.8rem
  color #888

.video-voices
  color #5faa02

  .icon-thumbsup
    margin-right 0.5rem

.video-views
  .icon-eye
    margin-right 0.5rem
    position relative
    top 0.2rem

.video-date
  .icon-clock
    margin-right 0.5rem
    position relative
    top 0.2rem


.video-list
  display flex
  justify-content space-between
  flex-wrap wrap

  .video
    width 48%
    margin-bottom 12px

  .video-image
    margin-bottom 0

  .video-length
    font-size 1.2rem
    line-height 1.8rem
    padding 0.1rem 0.4rem

  .video-info
    background-color transparent
    padding 1rem 0 0

  .video-title
    font-size 1.4rem
    line-height 1.6rem
    font-weight bold
    margin-bottom 0.2rem

  .video-meta
    font-size 1.4rem
    justify-content flex-start

  .video-views
    margin-right 0.5rem


.button-more
  border none
  font-size 2.1rem
  background-color #434242
  display block
  text-align center
  width 100%
  margin-bottom 2.3rem
  padding 1.8rem 0
  border-radius 1rem

.button-more-pay
  background-color #FF9901
  color #1e1e1e
  margin 5rem 0


.annotation
  color #666463
  text-align center

.annotation-header
  margin-bottom 1rem
  font-size 1.4rem

.annotation-text
  font-size 1.2rem


.footer
  background-color #141414
  padding 1.6rem 0 1.2rem
  font-size 1.2rem

.footer-info
  margin-bottom 1.2rem
  display flex
  justify-content center
  color #666463

.footer-info__age
  width 3.6rem
  height 3.6rem
  background-color #666463
  color #000
  display inline-block
  text-align center
  margin-right 1.4rem
  font-size 1.8rem
  border-radius 50%
  line-height 3.6rem

.footer-links
  text-align center

.footer-link
  color #FF9901
  display inline-block
  margin 0 0.6rem
