*
  box-sizing border-box

html
  font-size 16px

.page
  background url(../images/background.jpg) center top #050c13
  color #fff

.page-content
  width 320px
  margin 0 auto
  padding 0 48px 100px

.logo
  width 314px
  height 290px
  padding-top 25px
  margin 0 auto 40px
  background url(../images/logo.png) center 25px no-repeat
  background-size 314px 265px
  position relative

.logo-no-bg
  background none

.sign
  width 150px
  height 150px
  background-size 150px 150px
  background-repeat no-repeat
  background-position 0 0
  position absolute
  left 80px
  top 80px
  &-default
    background-image url(../images/zodiac/default.png)
  &-aquarius
    background-image url(../images/zodiac/aquarius.png)
  &-aries
    background-image url(../images/zodiac/aries.png)
  &-cancer
    background-image url(../images/zodiac/cancer.png)
  &-capricornus
    background-image url(../images/zodiac/capricornus.png)
  &-gemini
    background-image url(../images/zodiac/gemini.png)
  &-leo
    background-image url(../images/zodiac/leo.png)
  &-libra
    background-image url(../images/zodiac/libra.png)
  &-pisces
    background-image url(../images/zodiac/pisces.png)
  &-sagittarius
    background-image url(../images/zodiac/sagittarius.png)
  &-scorpius
    background-image url(../images/zodiac/scorpius.png)
  &-taurus
    background-image url(../images/zodiac/taurus.png)
  &-virgo
    background-image url(../images/zodiac/virgo.png)

.form-group
  margin 0 0 30px

.form-group-type-near
  margin 0 0 22px

.form-label
  font-size 0.875rem
  font-weight 400
  text-align center
  display block
  margin 0 0 8px

.form-input
  border 2px solid #fff
  border-radius 15px
  padding 0 15px
  font-size 0.875rem
  line-height 1.625rem
  color #fff
  background none
  display block
  width 100%
  height 30px
  margin 0 0 8px

.simple-select
  .custom-select
    display block
    width 100%
    height 30px
    margin 0 0 8px

  .customSelect
    border 2px solid #fff
    border-radius 15px
    padding 0 30px 0 15px
    background url(../svg/select-arrow.svg) 198px 10px no-repeat

  .customSelectInner
    display block
    width 100%
    height 100%
    font-size 0.875rem
    line-height 1.625rem
    overflow hidden
    white-space nowrap
    text-overflow ellipsis

.date-selects
  text-align center

.date-select
  &-day
    width 36px
    display inline-block
  &-month
    width 120px
    display inline-block
  &-year
    width 56px
    display inline-block
  &-time
    width 60px
    display inline-block
    vertical-align middle
    margin-right 20px

.date-select
  .custom-select
    width 100%
    display inline-block
    height 30px

  .customSelect
    border 1px solid #50657f
    border-radius 3px
    text-align center
    background-color rgba(255, 255, 255, 0.2)

  .customSelectInner
    display block
    width 100%
    height 100%
    text-transform uppercase
    font-size 1.25rem
    line-height 1.8rem
    overflow hidden
    white-space nowrap
    text-overflow ellipsis

.simple-select,
.date-select
  option
    color #000

.custom-checkbox
  display inline-block
  vertical-align middle

.custom-checkbox-input
  display none

.custom-checkbox-label
  font-size 0.75rem

.custom-checkbox-input + .custom-checkbox-label::before
  display inline-block
  vertical-align middle
  margin 0 6px 0 0
  content ''
  width 8px
  height 8px
  border-radius 8px
  border 4px solid #364456
  background #364456

.custom-checkbox-input:checked + .custom-checkbox-label::before
  background #fff


.sex-group
  font-size 0.75rem
  padding 6px 0 0 15px

.sex-group-label
  display inline-block
  vertical-align middle
  margin-right 15px
  position relative
  top -1px
  & + .custom-radio
    margin-right 20px

.custom-radio
  display inline-block
  vertical-align middle

.custom-radio-input
  display none

.custom-radio-label::before
  margin-right 4px

.custom-radio-input-male + .custom-radio-label::before
  background url(../images/icon-male.png) 0 0 no-repeat
  display inline-block
  vertical-align middle
  width 15px
  height 16px
  background-size 15px 16px
  content ''
  position relative
  top -3px

.custom-radio-input-female + .custom-radio-label::before
  background url(../images/icon-female.png) 0 0 no-repeat
  display inline-block
  vertical-align middle
  width 12px
  height 19px
  content ''
  background-size 12px 19px
  position relative
  top 4px

.custom-radio-input + .custom-radio-label,
.custom-radio-input + .custom-radio-label::before
  opacity 0.4

.custom-radio-input:checked + .custom-radio-label
.custom-radio-input:checked + .custom-radio-label::before
  opacity 1

.btn
  color #05142D
  font-size 1.16rem
  text-transform uppercase
  font-weight: 700
  width 100%
  height 40px
  background-color #0A6173
  background-image linear-gradient(to top, #FF9C00 0%, #FFB400 38%, #FFD800 100%)
  border-radius 20px
  box-shadow 1px 1.7px 5px rgba(0, 0, 0, 0.49), inset 10px 17.3px 0 rgba(255, 255, 255, 0.07)

.btn-small-text
  font-size 1rem

.info
  color #3871b4
  font-size 0.75rem
  line-height 1rem
  padding-top 40px
  text-align center
